@using Microsoft.AspNetCore.Hosting
@model ResetUserPasswordViewModel
@inject IHostingEnvironment env
@{
    ViewData["Title"] = "Reset User Password";
}

<h3>Reset user password</h3>

<partial name="~/Views/Shared/_PasswordValidationScriptsPartial.cshtml" />
<partial name="_Message" />

<form action="/user/reset-password" class="mt-5" method="post" novalidate>
    <input asp-for="Id" type="hidden" />

    <div class="form-group row">
        <label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10 field-group">
            @Model.EmailAddress
        </div>
    </div>

    <partial name="_PasswordFieldsPartial" />
    <partial name="_ButtonsPartial" />
</form>