@model AssociatePersonResponseViewModel

<div class="form-group row">
    <label asp-for="TokenValue" class="col-sm-2 control-label"></label>
    <div class="col-sm-10 field-group">
        <select asp-for="TokenValue" asp-items="Model.AvailableTokens" class="form-control">
            <option value="">Please select...</option>
        </select>
        <span asp-validation-for="TokenValue"></span>
    </div>
</div>

<hr class="mt-5" />
<div class="row">
    <div class="col-sm-1">
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
    <div class="col-sm-1">
        <a href="/people" class="text-secondary">Cancel</a>
    </div>
</div>