<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <remove name="aspNetCore" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" />
    </system.webServer>
  </location>
  <system.net>
    <mailSettings>
      <smtp from="accesscontrol@hackland.ineedcoffee.co.nz">
        <network host="smtp.snipersystems.co.nz"
         port="465"
         userName="accesscontrol@hackland.ineedcoffee.co.nz"
         password="WPVE3M6g4Fzjg8R5"
         enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>