@using Microsoft.AspNetCore.Hosting
@inject IHostingEnvironment env
@{
    ViewData["Title"] = "Home Page";
}
<h1>Home</h1>
<strong>Todo:</strong>
<ul>
    <li>Forgot password doesnt work / needs styling (scaffolding fails in vs without update?)</li>
    <li>Door status (maybe done)</li>
</ul>