@using Microsoft.AspNetCore.Hosting
@inject IHostingEnvironment env
@{
    ViewData["Title"] = "Home Page";
}
<h1>Home</h1>
<strong>Todo:</strong>
<ul>
    <li>View door scans</li>
    <li>Allocate token to person</li>
    <li>Door status</li>
</ul>