@using Microsoft.AspNetCore.Hosting
@inject IHostingEnvironment env
@{
    ViewData["Title"] = "Home Page";
}
<h1>Home</h1>

<strong>Todo:</strong>
<ul>
    Door edit page (to set name)
    View door scans
    Scan api
    Allocate token to person
    Door status
</ul>